# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [9]:
(200/2)+(2**2)*5-19.75

100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [2]:
(100**0.5)

10.0

In [52]:
import math
raiz = math.sqrt(100)
print(raiz)

10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [1]:
(100**2)

10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [ ]:
s = 'hello'

In [17]:
s = 'hello'
print(s[1])

e

In [19]:
s = 'hello'
print(s[::-1])

olleh

In [18]:
s = 'hello'
print(s[4])   
print(s[-1])

o
o

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [29]:
lista = [0, 0, 0]
print(lista)

[0, 0, 0]

In [30]:
lista = [0] * 3
print(lista)

[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [28]:
lista = [1,2,[3,4,'hello']]

In [27]:
lista = [1,2,[3,4,'goodbye']]
print(lista)

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [ ]:
listaSinOrdenar = [5,3,4,6,1]

In [33]:
listaSinOrdenar = [5,3,4,6,1]
listaOrdenada= sorted(listaSinOrdenar)
print(listaOrdenada)

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [ ]:
f = {'k1':{'k2':'hello'}}

In [23]:
f = {'k1': {'k2': 'hello'}}
print(f['k1']['k2'])

hello

In [ ]:
d = {'key1':'hello'}

In [24]:
d = {'key1': 'hello'}
print(d['key1'])

hello

In [ ]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [25]:
g = {'k1': [{'o1': ['valor escondido', ['hello']]}]}
print(g['k1'][0]['o1'][1][0])

hello

In [ ]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [26]:
h = {'k1': [1, 2, {'k2': ['complicado', {'dificil': [1, 2, ['hello']]}]}]}
print(h['k1'][2]['k2'][1]['dificil'][2][0])

hello

#### 9.- Crea una tupla (1 pto)

In [35]:
tupla= (1,2,3,4,5)
print(tupla)

(1, 2, 3, 4, 5)

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [ ]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [34]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]
valoresunicos = set(listaDuplicada)
print(valoresunicos)

{1, 2, 33, 4, 3, 11, 22}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [45]:
# 2 mayor que 3
2>3

False

In [46]:
# 3 igual que 2
3==2

False

In [47]:
# raíz cuadrada de 4 no es igual a 2
4**0.5 !=2

False

In [48]:
# se cumple si 6 es mayor que 5 y menor que 7 y 8
6 > 5 and 7 < 8

True

In [49]:
# Se cumple si la longitud de nombre es que el número de elementos de colores o si la longitud de nombre es menor de 7.
nombre = "Javier"
colores = ["azul","rojo","verde","lila","amarillo limón"]
len(nombre) == len(colores) or len(nombre) < 7

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [44]:
with open("tabla-nombres.txt", "w", encoding="utf-8") as f:
    f.write("Nombre\tApellidos\t\tEdad\tMascotas\n")
    f.write("Javier\tSchwartz Álvarez\t21\t-\n")
    f.write("Josep\tMatías Peiró\t\t21\t-\n")
    f.write("José\tOtero Mediero\t\t21\t-\n")
    f.write("Antonio\tHermosilla Motales\t21\t-\n")
with open("tabla-nombres.txt", "r", encoding="utf-8") as f:
    contenido = f.read()
    print(contenido)

Nombre	Apellidos		Edad	Mascotas
Javier	Schwartz Álvarez	21	-
Josep	Matías Peiró		21	-
Jose	Otero Mediero		21	-
Antonio	Hermosilla Motales	21	-

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [51]:
diccionario = {
    "Rattus": ["noverginicus", "rattus"],
    "Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
    "Echinocactus": ["grusonii"],
    "Opuntia": [1]
}
lista = list(diccionario.keys())
print(lista)
diccionario["Canis"] = ["latrans", "aureus"]
diccionario["Panthera"] = ["leo"]
print(diccionario.keys())
setclaves = set(lista + ["Canis", "Panthera"])
print(setclaves)

['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia']
dict_keys(['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia', 'Canis', 'Panthera'])
{'Opuntia', 'Rattus', 'Glaucidium', 'Panthera', 'Echinocactus', 'Canis'}